[submodule "reflect"]
	path = reflect
	url = git@github.com:user11681/reflect
[submodule "unsafe"]
	path = unsafe
	url = git@github.com:user11681/unsafe
[submodule "shortcode"]
	path = shortcode
	url = git@github.com:user11681/shortcode
[submodule "loom"]
	path = loom
	url = git@github.com:user11681/fabric-loom
