/*
.*

build
out

!/.gitignore

!/.github

!/gradlew
!/gradlew.bat

!/build.gradle
!/common.gradle
!/settings.gradle

!/gradle.properties
!/gradle/wrapper/gradle-wrapper.properties

!/LICENSE

!/reflect
!/unsafe
!/shortcode

!/loom

!/asm
!/cell
!/commonformatting
!/dynamicentry
!/fabricasmtools
!/fabriclexicon
!/globalsettings
!/headsdowndisplay
!/invisiblelivingentities
!/limitless
!/mshell
!/narratoroff
!/noauth
!/persistententities
!/phormat
!/postalservice
!/projectfabrok
!/prone
!/scale
!/soulboundarmory
!/sturdygold
!/thorium
!/visp
!/xradiation
